@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;

/*   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

* {
  box-sizing: border-box;
}

a {
  @apply text-red-600 hover:text-red-300;
  font-family: 'Overpass', sans-serif;

}
ul, li{
  min-height:50px; text-align:center;
}

.outer {
}
.inner {
}
